data/GoodReads_100k_books.csv
data/kindle_reviews.csv
solr/current_data_13_10.json
data/more_reviews.csv
data/reviews_merged.csv
data/translated_more_reviews.csv
solr/data/reviews_part_1.json
solr/data/reviews_part_10.json
solr/data/reviews_part_11.json
solr/data/reviews_part_12.json
solr/data/reviews_part_13.json
solr/data/reviews_part_14.json
solr/data/reviews_part_15.json
solr/data/reviews_part_17.json
solr/data/reviews_part_16.json
solr/data/reviews_part_18.json
solr/data/reviews_part_2.json
solr/data/reviews_part_3.json
solr/data/reviews_part_4.json
solr/data/reviews_part_5.json
solr/data/reviews_part_6.json
solr/data/reviews_part_7.json
solr/data/reviews_part_8.json
solr/data/reviews_part_9.json
solr/old/book_profiles_17_10.csv
solr/old/book_profiles_17_10.json
solr/old/current_data.csv
solr/old/current_data_13_10.json
solr/old/reviews_17_10.csv
solr/old/reviews_part_1.csv
solr/old/reviews_part_2.csv
solr/old/reviews_part_3.csv
solr/old/reviews_part_4.csv
