@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,700&display=swap');

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-body-color);
  background-color: var(--bs-white);
  border-color: var(--bs-white);
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-body-color);
  background-color: var(--bs-white);
  border-color: var(--bs-white);
}

.btn-primary:hover {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 56, 187, 139;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 56, 187, 139;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

a {
  transition: all .2s ease-in-out;
  color: #fff;
}

.nav-link {
  color: white;
}

a.nav-link,
a.btn.btn-link.btn-circle {
  color: white;
  font-weight: 700;
  font-family: 'Cabin';
  text-transform: uppercase;
}

.heading,
.text-start {
  font-weight: 700;
  font-family: 'Cabin';
  text-transform: uppercase;
}

a.nav-link:hover,
a.btn.btn-link.btn-circle:hover {
  color: gray;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: var(--bs-cyan);
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--bs-cyan);
}

.btn-default:focus,
.btn-default:hover {
  color: #000;
  border: 1px solid #fff;
  outline: none;
  background-color: #fff;
}

.btn-default {
  color: #ffff;
  border: 1px solid #fff;
  background-color: transparent;
}

body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

#about,
#contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: auto;
  height: 100%;
  max-height: 100%;
}

.card-img-top.similar-book {
  width: calc(100% / 5);
  margin: 0 10px;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-item {
	position: relative;
	display: block;
	margin: 0 10px;
	transition: transform 0.6s ease-in-out;
}

router-link {
  color: black;
}

router-link:hover {
  color: white;
}

router-link:focus, router-link:active {
  color: gray;
}
